@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
html {
  color: #ffffff;
  background-color: #343434;
}
body {
  font-family: "Inter", "Open Sans", sans-serif;
}

.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.layout a:hover {
  text-decoration: underline;
  color: #8cb4ff;
}
header {
  background-color: #1b1b1b;
  line-height: 1.5;
  color: #fafafa;
  font-size: 16px;
  display: flex;
  padding: 15px;
  max-height: 24px;
}
header > a {
  margin-left: 15px;
  text-decoration: none;
  color: #ffffff;
  color: inherit;
}

.body {
  display: flex;
  flex: 1;
}
.inside {
  flex: 1;
}
footer {
  background-color: #404040;
  padding: 20px 15px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h2 {
  margin-top: 9px;
  margin-bottom: 9px;
}
h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}
h4 {
  margin-top: 7px;
  margin-bottom: 7px;
}
h5 {
  margin-top: 6px;
  margin-bottom: 6px;
}
h6 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.leftSide {
  display: flex;
  border-right: #404040 solid 3px;
  grid-area: sidebar;
  max-width: 20%;
  margin-left: auto;
}
.rightSide {
  display: flex;
  border-left: #404040 solid 3px;
  grid-area: sidebar;
  margin-right: auto;
  max-width: 20%;
}
.cards {
  overflow: auto;
  padding: 40px;
  scrollbar-color: black;
  /*margin: auto;*/
  justify-content: space-around;
  flex-direction: column;
  /*padding: 5px 10px;*/
  /*flex-wrap: wrap;*/
}
.cards h2 {
  padding-left: 4px;
  margin: 8px 0;
}
.card {
  /*margin: 10px;*/
  box-sizing: border-box;
  /*width: calc( (100% / 3) - 5px);*/
  /*display: flex;*/
  /*flex-direction: column;*/
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px 20px 13px;
  position: relative;
}

/*
  .card::after {
      position: absolute;
      top: 0;
      bottom: 90%;
      left: 0;
      right: 0;
      content: '';
      background: #ececec;
      background: -moz-linear-gradient(top, #ececec 0%, #ffffff 100%);
      background: -webkit-linear-gradient(top, #ececec 0%,#ffffff 100%);
      background: linear-gradient(to bottom, #ececec 0%,#ffffff 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#ffffff',GradientType=0 );
      z-index: -1;
  }
  .card::before {
      position: absolute;
      top: 90%;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      background: #ffffff;
      background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
      background: -webkit-linear-gradient(top, #ffffff 0%,#ececec 100%);
      background: linear-gradient(to bottom, #ffffff 0%,#ececec 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 );
      z-index: -1;
  }
  */

@media screen and (max-width: 1199px) {
  .rightSide {
    width: 0 !important;
    height: 0 !important;
    display: none !important;
  }
}
@media screen and (max-width: 776px) {
  .leftSide {
    width: 0 !important;
    height: 0 !important;
    display: none !important;
  }
}

/* Landscape phone to portrait tablet */
@media (min-width: 768px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 992px) {
}

/* Large desktop */
@media (min-width: 1200px) {
  .inside {
    max-width: 60%;
    margin: auto;
  }

  /*
      .body::after {
          content: '';
          /*position: absolute;* /
          border: 1px solid red;
          /*width: 78px;* /
          /*top: 48px;* /
          /*left: 0;* /
          background-image: url("/img/tree-top.png");
          background-size: 78px 2783px;
          background-repeat: no-repeat;
      }
      */
}

/* copy vvv */
[data-lang] {
  position: relative;
}
[data-lang] > .copy {
  display: none;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 26px;
  height: 26px;
  z-index: 5;
  cursor: pointer;
  font-size: 23px;
}
[data-lang]:hover > .copy {
  display: inline-block;
}
[data-lang] > .copy:hover {
  border-color: black;
  font-size: 25px;
  top: -6px;
  left: -6px;
}

/* copy ^^^ */
#editor {
  width: 100%;
  min-height: auto;
}
.vscodion {
  margin-left: auto;
}
header > a {
  font-weight: 600;
}
#ft-wrapper {
  border-left: 2px #696969 solid;
  text-decoration: none;
}
:-webkit-any-link {
  text-decoration: none;
  color: #6d6d6d;
}

:-moz-any-link {
  text-decoration: none;
  color: #6d6d6d;
}

:any-link {
  text-decoration: none;
  color: #6d6d6d;
}
article {
  margin: 50px;
}
